<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>光大银行武汉分行</title>
    <!--引入jquery 注意jquery必须最先引入-->
    <script src="../../../static/common/js/jquery-3.3.1.min.js"></script>
    <!-- 引入layer插件,当做独立组件使用，不使用layui模块 -->
    <script src="${ctxStatic}/plugins/layui/layer/layer.js"></script>
    <link rel="shortcut icon" href="${ctxStatic}/common/images/favicon.ico">
    <link href="../../../static/common/css2/font.css" rel="stylesheet" type="text/css">
    <link href="../../../static/common/css2/gdcontent.css" rel="stylesheet" type="text/css">
    <script src="../../../static/common/js/jeeplus.js" type="text/javascript"></script>
    <script src = "../../../static/common/js2/polyfill.min.js"></script>
    <script src = "../../../static/common/js2/downjs.js"></script>


    <!--引入头部-->
    <style type="text/css">
        .redirects1{
            position: relative;
            padding-bottom: 40px;
        }
        #redirects1_div{
            position: absolute;
            top: 55px;
            width: 800px;
        // height: 200px;
            background-color: rgb(0, 52, 100);
            border-radius: 3px;

        }
        #redirects1_div>div{

            /*background-color: red;*/
            height: 40px;
            width: 160px;
            float: left;
            line-height: 40px;
        }
        .redirects1_div_a{
            color: #B5B8BD;
        }
        .redirects1_div_a:hover{
            color: white;
        }

        /*2*/
        .redirects2{
            position: relative;
            padding-bottom: 40px;
        }
        #redirects2_div{
            position: absolute;
            top: 55px;
            width: 800px;
            background-color: rgb(0, 52, 100);
            border-radius: 3px;
        }
        #redirects2_div>div{
            height: 40px;
            width: 160px;
            float: left;
            line-height: 40px;
        }
        .redirects2_div_a{
            color: #B5B8BD;
        }
        .redirects2_div_a:hover{
            color: white;
        }
        .jianju{
            margin-right: 1.5%;
        }
    </style>
</head>

<body bgcolor="#EEEEEE">
<script type="text/javascript">
    function listtxl(){
        var cardnum = $("#cardnum").text();
        if (!cardnum) {
            alert("请先登录");
        }else {
            location.href="/a/logins/addressbook";
        }
    }
    //截取字符串
    function getCaption(obj){
        if(obj){
            var index=obj.lastIndexOf("/");
            obj=obj.substring(index+1,obj.length);
            return obj;
        }

    }

    //下载
    function downrediect(url)
    {
        var name=url.substring(url.lastIndexOf('/')+1,url.lastIndexOf('.'));
        download(1,url,name);
    }


    var id = "${id!}";
    $(document).ready(function() {
        $.post("/a/public/contentdata",{id:id},function (data) {
            //加载附件
            if(data.accessorys){
                var fileName;
                if(data.fileName){
                    fileName = data.fileName.split("|");
                }
                var a = data.accessorys.split("|");
                var as = '';
                var num = 0;
                for(var i = 0;i<a.length;i++){
                    num++;
                    // as += '<a href="javascript:void(0);" onclick="downrediect(\''+a[i]+'\')"  id="a" download="'+getCaption(a[i])+'">' +
                    //     '                        <span style="color: #9C78C3;">附件'+num+'：'+getCaption(a[i])+'<span></span></span>' +
                    //     '                    </a><br/>';
                    if(data.fileName){
                        as += '<a href='+a[i]+'   id="a" >' +
                            '                        <span style="color: #9C78C3;">附件'+num+'：'+getCaption(fileName[i])+'<span></span></span>' +
                            '                    </a><br/>';
                    }else{
                        as += '<a href='+a[i]+'   id="a" >' +
                            '                        <span style="color: #9C78C3;">附件'+num+'：'+getCaption(a[i])+'<span></span></span>' +
                            '                    </a><br/>';
                    }

                }
                $("#fj").append(as);
            }
            if(data){
                var content = data.content;
                var title = escape2Html(data.title);
                // if(data.accessorys){
                //     $("#contentimg").attr("src",data.accessorys);
                // }else {
                //     $("#contentimg").hide();
                // }
                // $("#a").attr("href",data.accessorys);//附件
                $("#space20").html(title);//标题
                $("#font_hui_14ha").html("发布时间："+data.createDate);//时间
                $("#font_hui_14h").html("来源："+data.officeName);//发稿部门
                $("#font_hui_14hpreson").html("作者："+data.author);//作者
                $("#onclickNum").html("点击数："+data.onclickNum);//作者
                $("#content_text").empty();
                var content = escape2Html(content);
                // console.log((content));
                $("#content_text").append(content);//正文
                $("#adeptlist16").html(data.programatIdName);//栏目名称
            }else {
                $(".layout_content_info").empty();
            }


        });

        $.getJSON("/a/public/getNavMenu",function (data) {
            for (var i = 0; i < data.length ; i++) {
                var $div=$("<div><a class=\"redirects1_div_a\" style=\"text-decoration: none\" href=\"/a/logins/grouplist?id="+data[i].id+"\">"+data[i].name+"</a> </div>");
                $("#redirects1_div").append($div);
            }
        });
        $.getJSON("/a/public/getNavMenuInstitutions",function (data) {
            for (var i = 0; i < data.length ; i++) {
                var divs = '';
                divs += '<div>' +
                    '<a class="redirects2_div_a" style="text-decoration:none" href="/a/logins/programadatalist?id='+data[i].id+'&name='+encodeURI(data[i].name)+'">'+data[i].name+'</a>' +
                    '</div>';
                $("#redirects2_div").append(divs);
            }
        });

        //首页li导航栏转跳
        $(".redirects").click(function () {
            var i=$(this).index();
            if (i==0){ //首页
                location.href="/a/logins/indexNew"
            }
            if (i==1){ //分行动态
                location.href="/a/logins/programadatalist?id=4f8d74dc230b49e5b9aba3d7386f85bf&name="+encodeURI("分行动态")
            }
            if (i==4){ //规章制度
                location.href="/a/logins/programadatalist?id=06cdcb5fdbfa4aa7beb9718f2817b9f4&name="+encodeURI("规章制度")
            }
            if (i==5){ //
                location.href="/a/logins/down"
            }
            if (i==6){ //
                location.href="/a/logins/addressbook"
            }
        });

        $(".redirects1").hover(function () {
            $("#redirects1_div").show();
        },function () {
            $("#redirects1_div").hide();

        })
        $(".redirects2").hover(function () {
            $("#redirects2_div").show();
        },function () {
            $("#redirects2_div").hide();

        })

        $(".stParim").focus(function () {
             if ($(this).val()=="欢迎访问光大内网！" || $(this).val()=="请输入要搜索的标题内容！"){
                 $(this).val("")
             }
        });
        $(".stParim").blur(function () {
            if ($(this).val()==""){
                $(this).val("欢迎访问光大内网！");
            }
        });
        $(".selectParim").click(function () {
            var selectParim=$(".stParim").val();
            if (selectParim=="欢迎访问光大内网！" || selectParim==""){
                $(".stParim").val("请输入要搜索的标题内容！");
            } else {
                location.href="/a/logins/list?title="+encodeURI(selectParim.trim());
            }
        });
        $("#unameuser").click(function () {
            if ($(this).html()!="登录") {
                layer.open({
                    type: 2,
                    shadeClose:true,
                    id: 'update_user',
                    title: ['修改用户信息', 'font-size:18px;'],
                    area: ['1000px', '650px'],
                    content: '/a/sys/user/info'
                });
            }
        });

     $(".loginOutSystem").click(function () {
         location.href="/a/logout";
     });

    });
    //将转义字符转为普通html字符
    function escape2Html(str) {
        var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
        return str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){return arrEntities[t];});
    }

</script>
<div class="layout_contentbar">
    <div class="navbar">
        <div class="navbar">
            <div class="float_left"><img src="../../../static/common/image2/logo.png" /></div>
            <div class="float_left">
                <ul>
                    <li class="text_nvabar_noselect redirects">首页</li>
                    <li class="text_nvabar_noselect redirects">分行动态</li>
                    <li class="text_nvabar_noselect redirects redirects1">分行部室<div id="redirects1_div"  style="display: none;"></div></li>
                    <li class="text_nvabar_noselect redirects redirects2">经营机构<div id="redirects2_div"  style="display: none;"></div></li>
                    <li class="text_nvabar_noselect redirects">规章制度</li>
                    <li class="text_nvabar_noselect redirects">下载专区</li>
                    <li class="text_nvabar_noselect " onclick="listtxl()">通讯录</li>
                </ul>
            </div>
            <div class="folt_right">
                <div class="float_left text_nvabar_noselect navbar_left" style="width:190px;">
                    <img class="float_left selectParim" src="../../../static/common/image2/ico_search_01.png"  style="margin-top:-4px;"  />
                    <input name="" type="text" value="欢迎访问光大内网！"  class="inputtext4 stParim" /></div>
                <div class="float_left text_nvabar_noselect navbar_left"  style="width:190px;">
                    <a href="${ctx}/login">
                        <img class="float_left photo" src="../../../static/common/image2/ico_loogin.png"
                             style="margin-top:-6px;width: 30px;height: 30px;border-radius: 50%;position: relative;left: 17%;" />
                    </a>
                    <span id="unameuser" ></span>
                    <span class="uno" id="cardnum"></span>
                </div>
                <input  id="userInput" type="hidden"/>  <!--用户信息-->
                <input  id="userctx" value="${ctx}" type="hidden"/>  <!--${ctx}信息-->
                <div class="float_left text_nvabar_noselect navbar_left loginOutSystem"  style="width:100px;display: none">退出系统</div>
            </div>
        </div>
    </div>
</div>
<!-- 集合列表 -->
<div class="layout_content font_back_16h">位置：首页-><a href="#" class=" adeptlist16" id="adeptlist16">光大要闻</a></div>
<div class="layout_content_info">
    <!-- 标题 -->
    <div class="content_title" >
        <h3 class="space20" id="space20"></h3>
        <font class="font_hui_14h jianju" id="font_hui_14ha"></font>
        <font class="font_hui_14h jianju" id="font_hui_14h"></font>
        <font class="font_hui_14h jianju" id="font_hui_14hpreson"></font>
        <font class="font_hui_14h jianju" id="onclickNum"></font>
    </div>
    <!-- 正文 -->
    <div class="content_text">　
        <p style="font-family: '微软雅黑' !important;font-size: 18px !important;line-height: 2.0 !important;" id="content_text"></p>
        <br/>
        <div id="fj">
        </div>
    </div>
</div>
<div class="layout_bottm" style="height:200px; ">
    <div class="layout_ry_content">
        <div class="float_left" style="width:400px; margin-top:70px;"><img src="../../../static/common/image2/logo_bottm.png"></div>
        <div class="float_left font_bai_18h" style="width:400px; margin-top:90px; text-align:center;">中国光大银行武汉分行版权所有</div>
    </div>
</div>
<script type="text/javascript">
    var name="${fn.getUser()}".replace(/\s*/g,"");
    var logis=name.length>360?"登录":"未登录";
    // console.log(logis)
    // var mm=name.substring(name.indexOf('{')).replace(/=/g,":");
    var user=name.substring(name.indexOf('{')+1,name.lastIndexOf('}')).split(',');
    if (logis=="登录"){
        $("#unameuser").html(user[5].split('=')[1].replace(/'/g,""));
        $(".photo").attr("src",user[12].split('=')[1].replace(/'/g,""));
        $(".uno").html("("+user[2].split('=')[1].replace(/'/g,"")+")");
        $("#userInput").val(name);
        $(".loginOutSystem").show();
    }

</script>
</body>
</html>
