<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>下载专区</title>
    <link rel="shortcut icon" href="${ctxStatic}/common/images/favicon.ico">
    <!--<link href="../../../static/common/css/gd1.css" rel="stylesheet" type="text/css">-->
    <link href="../../../static/common/css2/gdcontent.css" rel="stylesheet" type="text/css">
    <!--<link href="../../../static/common/css/font1.css" rel="stylesheet" type="text/css">-->
    <link href="../../../static/common/css/ranking-list.css" rel="stylesheet" type="text/css">
    <link href="../../../static/common/css2/font.css" rel="stylesheet" type="text/css">
    <!--导航下拉菜单样式-->
    <link href="../../../static/common/css/nav.css" rel="stylesheet" type="text/css">
    <!--引入jquery 注意jquery必须最先引入-->
    <script src="../../../static/plugins/jquery/jquery.min.js"></script>
    <!--引入layer时间选择器插件-->
    <script src="../../../static/plugins/laydate/laydate.js"></script>
    <!-- 引入layer插件,当做独立组件使用，不使用layui模块 -->
    <script src="${ctxStatic}/plugins/layui/layer/layer.js"></script>
    <script src="${ctxStatic}/plugins/layui/laytpl/laytpl.js"></script>
    <script src="${ctxStatic}/plugins/layui/dist/layui.all.js"></script>
    <link href="${ctxStatic}/plugins/layui/dist/css/layui.css" rel="stylesheet" type="text/css">
    <!--<script src="../../../static/common/js/download.js" type="text/javascript"></script>-->
    <!--<script src="../../../static/common/js/header.js" type="text/javascript"></script>-->
    <link href="../../../static/common/css/toux.css" rel="stylesheet" type="text/css">
    <script src = "../../../static/common/js2/polyfill.min.js"></script>
    <script src = "../../../static/common/js2/downjs.js"></script>

    <style type="text/css">
        .redirects1{
            position: relative;
            padding-bottom: 40px;
        }
        #redirects1_div{
            position: absolute;
            top: 55px;
            width: 800px;
             height: 200px;
            background-color: rgb(0, 52, 100);
            border-radius: 3px;

        }
        #redirects1_div>div{
            height: 40px;
            width: 160px;
            float: left;
            line-height: 40px;
        }
        .redirects1_div_a{
            color: #B5B8BD;
        }
        .redirects1_div_a:hover{
            color: white;
        }

        /*2*/
        .redirects2{
            position: relative;
            padding-bottom: 40px;
        }
        #redirects2_div{
            position: absolute;
            top: 55px;
            width: 800px;
            background-color: rgb(0, 52, 100);
            border-radius: 3px;
        }
        #redirects2_div>div{
            height: 40px;
            width: 160px;
            float: left;
            line-height: 40px;
        }
        .redirects2_div_a{
            color: #B5B8BD;
        }
        .redirects2_div_a:hover{
            color: white;
        }

    </style>

</head>

<body>

<div class="layout_deptbar">
    <div class="navbar">
        <div class="navbar">
            <div class="float_left"><img src="../../../static/common/image2/logo.png" /></div>
            <div class="float_left">
                <ul>
                    <li class="text_nvabar_noselect redirects">首页</li>
                    <li class="text_nvabar_noselect redirects">分行动态</li>
                    <li class="text_nvabar_noselect redirects redirects1">分行部室<div id="redirects1_div"  style="display: none;"></div></li>
                    <li class="text_nvabar_noselect redirects redirects2">经营机构<div id="redirects2_div"  style="display: none;"></div></li>
                    <li class="text_nvabar_noselect redirects">规章制度</li>
                    <li class="text_nvabar redirects">下载专区</li>
                    <li class="text_nvabar_noselect "  onclick="listtxl()">通讯录</li>
                </ul>
            </div>
            <div class="folt_right">
                <div class="float_left text_nvabar_noselect navbar_left" style="width:190px;">
                    <img class="float_left selectParim" src="../../../static/common/image2/ico_search_01.png"  style="margin-top:-4px;"  />
                    <input name="" type="text" value="欢迎访问光大内网！"  class="inputtext4 stParim" /></div>
                <div class="float_left text_nvabar_noselect navbar_left"  style="width:190px;">
                    <a href="${ctx}/login">
                        <img class="float_left photo" src="../../../static/common/image2/ico_loogin.png"
                                 style="margin-top:-6px;width: 30px;height: 30px;border-radius: 50%;position: relative;left: 17%;" />
                    </a>
                    <span id="unameuser" ></span>
                    <span class="uno" id="cardnum"></span>
                </div>
                <input  id="userInput" type="hidden"/>  <!--用户信息-->
                <input  id="userctx" value="${ctx}" type="hidden"/>  <!--${ctx}信息-->
                <div class="float_left text_nvabar_noselect navbar_left loginOutSystem"  style="width:100px;display: none">退出系统</div>
            </div>
        </div>

    </div>
    <div class="layout_dept">
        <div style="width:500px;" class="float_left"><span class="font_bai_50h">下载专区</span><br>
            <br>
            <br>
            <span class="font_bai_24h"> <br>
    </span></div>
    </div>
</div>

<!-- 集合列表 -->
<div class="layout_group">
    <input type="text"  value="" hidden id="usetype">
    <div class="layout_downlaout">
        <div class="float_left layout_category" >
            <input id="tabInput" hidden>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_border">
                <tr>
                    <td height="60" align="center" valign="middle" class="bottom_border_zise"><a class="adeptlist16" onclick="loadList(null,1,null)" href="javascript:void(0)" >全部</a></td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle" class="bottom_border_zise"><a class="adeptlist16" onclick="loadList('表格模版',1,null)" href="javascript:void(0)">表格模版</a></td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle" class="bottom_border_zise"><a class="adeptlist16" onclick="loadList('办事指南',1,null)" href="javascript:void(0)">办事指南</a></td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle" class="bottom_border_zise"><a class="adeptlist16" onclick="loadList('培训材料',1,null)" href="javascript:void(0)">培训材料</a></td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle" class="bottom_border_zise"><a class="adeptlist16" onclick="loadList('常用软件',1,null)" href="javascript:void(0)">常用软件</a></td>
                </tr>
                <tr>
                    <td height="60" align="center" valign="middle"><a class="adeptlist16" onclick="load('其它',1,null)" href="javascript:void(0)">其它</a></td>
                </tr>
            </table>

        </div>
        <div class="float_left layout_category_right" style="margin-left:10px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td  style="text-align: left;padding-left: 1%;" width="7%" align="center" valign="middle" class="font_back_16h">附件名</td>
                    <td width="18%">
                        <input style="margin-left: -20%;"  type="text" name="textfield" id="textfield" class="inputtext" />
                    </td>
<!--                   <td width="16%"><input type="text" name="textfield3" id="textfield3"  class="inputtext" /></td>-->
                    <td width="8%" align="center" valign="middle" onclick="search();">
                        <img style=" margin-left: 60%;;" src="../../../static/common/imagess/ico_search01.jpg" width="53" height="48" />
                        </a>
                    </td>
                </tr>
            </table>
            <table id="downloadtable1" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr class="font_back_16h">
                    <td width="30%" height="60" align="center" bgcolor="#E0E0E0">附件名称</td>
                    <td width="20%" align="center" bgcolor="#E0E0E0">部门</td>
                    <td width="20%" align="center" bgcolor="#E0E0E0">附件类型 </td>
                    <td width="20%" align="center" bgcolor="#E0E0E0">日期</td>
                    <td width="10%" align="center" bgcolor="#E0E0E0">操作</td>
                </tr>
            </table>
            <table id="downloadtable" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <!--每一个-->
                <!--<tr>
                    <td height="60" align="left" valign="middle" class="font_back_14h" style="text-indent:5px;">视频是示介吉偿地</td>
                    <td align="center" valign="middle" class="font_back_14h">发展部</td>
                    <td align="center" valign="middle" class="font_back_14h">视频</td>
                    <td align="center" valign="middle" class="font_back_14h">2019-12-22</td>
                    <td align="center" valign="middle"><img src="../../../static/common/imagess/ico_down01.jpg" width="30" height="30" /></td>
                </tr>-->
            </table>

            <div style="color: #878787;font-size: 19px;margin-top: 2%">

                <div id="test1" style="margin-left: 30%"></div>
            </div>

            <div class=""></div>
            <div class="pageNum" style="margin-bottom: 2%;margin-top: 0%;margin-left: -4.5%;">

            </div>
        </div>
    </div>

    <div class="layout_bottm" style="height:200px; ">
        <div class="layout_ry_content">
            <div class="float_left" style="width:400px; margin-top:70px;"><img src="../../../static/common/image2/logo_bottm.png"></div>
            <div class="float_left font_bai_18h" style="width:400px; margin-top:90px; text-align:center;">中国光大银行武汉分行版权所有</div>
        </div>
    </div>


</div>
</body>
<script type="text/javascript">

    //日期控件初始化
    laydate.render({
        elem: '#textfield2'
        ,type: 'date'
        ,trigger:'click'
    });

    laydate.render({
        elem: '#textfield3'
        ,type: 'date'
        ,trigger:'click'
    });

    function listtxl(){
        var cardnum = $("#cardnum").text();
        if (!cardnum) {
            alert("请先登录");
        }else {
            location.href="/a/logins/addressbook";
        }
    }
    /*收索*/
    function search(){
        var usetype  = $("#tabInput").val(); //附件分类
        var textfield = $("#textfield").val(); //附件名
        loadList(usetype,1,textfield);
    }
    /*下载专区*/
    $(document).ready(function() {
        $("#usetype").val("");
        $.getJSON("/a/public/getNavMenu",function (data) {
            for (var i = 0; i < data.length ; i++) {
                var $div=$("<div><a class=\"redirects1_div_a\" style=\"text-decoration: none\" href=\"/a/logins/grouplist?id="+data[i].id+"\">"+data[i].name+"</a> </div>");
                $("#redirects1_div").append($div);
            }
        });
        $.getJSON("/a/public/getNavMenuInstitutions",function (data) {
            for (var i = 0; i < data.length ; i++) {
                var divs = '';
                divs += '<div>' +
                    '<a class="redirects2_div_a" style="text-decoration:none" href="/a/logins/programadatalist?id='+data[i].id+'&name='+encodeURI(data[i].name)+'">'+data[i].name+'</a>' +
                    '</div>';
                $("#redirects2_div").append(divs);
            }
        });


        //加载数据表格
         load();
        //添加左侧菜单样式
        $(".table_border").find("tr").eq(0).css({"background-color":"#9C78C2","color":"#ffffff"});
        $(".adeptlist16").click(function () {
            var leng=$(this).parents("tr").index();
            $(".adeptlist16").each(function (i,e) {
              //  alert(i+"=="+leng);
                if (i==leng){
                    $(e).parents("tr").css({"background-color":"#9C78C2","color":"#ffffff"});
                }else {
                    $(e).parents("tr").css({"background-color":"#ffffff","color":"#212121"});
                }
            })
        });

        //首页li导航栏转跳
        $(".redirects").click(function () {
            var i=$(this).index();
            if (i==0){ //首页
                location.href="/a/logins/indexNew"
            }
            if (i==1){ //分行动态
                location.href="/a/logins/programadatalist?id=4f8d74dc230b49e5b9aba3d7386f85bf&name="+encodeURI("分行动态")
            }
            if (i==4){ //
                location.href="/a/logins/programadatalist?id=06cdcb5fdbfa4aa7beb9718f2817b9f4&name="+encodeURI("规章制度")
            }
            if (i==5){ //
                location.href="/a/logins/down"
            }
            if (i==6){ //
                location.href="/a/logins/addressbook"
            }
        });

        $(".redirects1").hover(function () {
            $("#redirects1_div").show();
        },function () {
            $("#redirects1_div").hide();

        })
        $(".redirects2").hover(function () {
            $("#redirects2_div").show();
        },function () {
            $("#redirects2_div").hide();

        })
        $(".stParim").focus(function () {
            if ($(this).val()=="欢迎访问光大内网！" || $(this).val()=="请输入要搜索的标题内容！"){
                $(this).val("")
            }
        });
        $(".stParim").blur(function () {
            if ($(this).val()==""){
                $(this).val("欢迎访问光大内网！");
            }
        });
        $(".selectParim").click(function () {
            var selectParim=$(".stParim").val();
            if (selectParim=="欢迎访问光大内网！" || selectParim==""){
                $(".stParim").val("请输入要搜索的标题内容！");
            } else {
                location.href="/a/logins/list?title="+encodeURI(selectParim.trim());
            }


        });
        $("#unameuser").click(function () {
            if ($(this).html()!="登录") {
                layer.open({
                    type: 2,
                    shadeClose:true,
                    id: 'update_user',
                    title: ['修改用户信息', 'font-size:18px;'],
                    area: ['1000px', '650px'],
                    content: '/a/sys/user/info'
                });
            }
        });

        $(".loginOutSystem").click(function () {
            location.href="/a/logout";
        });

    });

    function loadList(type,no,rname) {
        $("#tabInput").val(type);
        load(type,no,rname)

    }

    /*
    * type:附件分类
    * pageNo：当前页
    * name:文件名
    * dept:部门
    * statTiem:查询开始时间
    * endTime:查询结束时间
    //分页
    */
    function load(type, currentPage, rname){
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            $.getJSON("/a/public/download",{
                useType: type,
                pageNo: currentPage,
                name: rname
                // dept:dept,
                // beginCreateDate:statTiem,
                // endCreateDate:endTime
            },function (data) {
                $("#downloadtable").empty();
                //  console.log(data);
                for (var i = 0; i <data.list.length ; i++) {
                    var time=data.list[i].createDate.substring(0,10);
                    var officename=data.list[i].officename.substring(0,data.list[i].officename.lastIndexOf(','));
                    var $tr=$("<tr >\n" +
                        "                    <td width=\"30%\" height=\"60\" align=\"center\"><span  style=\"white-space:nowrap;overflow:auto; \">"+data.list[i].name+"</span></td>\n" +
                        "                    <td width=\"20%\" align=\"center\" >"+officename+"</td>\n" +
                        "                    <td width=\"20%\" align=\"center\" >"+data.list[i].type+" </td>\n" +
                        "                    <td width=\"20%\" align=\"center\" >"+time+"</td>\n" +
                        "                    <td width=\"10%\" align=\"center\" >" +
                        "<a href="+data.list[i].accessorys+"  ><img src=\"../../../static/common/imagess/ico_down01.jpg\" width=\"30\" height=\"30\" /></a></td>\n" +
                        "                </tr>");
                    /*data.list[i].accessorys*/
                    $("#downloadtable").append($tr);
                }

                //执行一个laypage实例
                laypage.render({
                    elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
                    limit:data.pageSize, //页大小
                    curr:data.pageNo, //当前页
                    theme:"#9932CD"
                    ,count: data.count //数据总数
                    ,jump: function(obj, first){
                        // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        // console.log(obj.limit); //得到每页显示的条数
                        $.getJSON("/a/public/download",{
                           pageNo:obj.curr,
                            useType: type,
                            name:rname
                        },function (data) {
                            $("#downloadtable").empty();
                            for (var i = 0; i <data.list.length ; i++) {
                                var time=data.list[i].createDate.substring(0,10);
                                var officename=data.list[i].officename.substring(0,data.list[i].officename.lastIndexOf(','));
                                var $tr=$("<tr >\n" +
                                    "                    <td width=\"30%\" height=\"60\" align=\"center\"><span  style=\"white-space:nowrap;overflow:auto; \">"+data.list[i].name+"</span></td>\n" +
                                    "                    <td width=\"20%\" align=\"center\" >"+officename+"</td>\n" +
                                    "                    <td width=\"20%\" align=\"center\" >"+data.list[i].type+" </td>\n" +
                                    "                    <td width=\"20%\" align=\"center\" >"+time+"</td>\n" +
                                    "                    <td width=\"10%\" align=\"center\" >" +
                                     "<a href="+data.list[i].accessorys+"><img src=\"../../../static/common/imagess/ico_down01.jpg\" width=\"30\" height=\"30\" /></a></td>\n" +
                                    // "<a href='"+data.list[i].accessorys+"' ><img src=\"../../../static/common/imagess/ico_down01.jpg\" width=\"30\" height=\"30\" /></a></td>\n" +
                                    "                </tr>");
                                $("#downloadtable").append($tr);
                            }

                        });
                    }
                });

            });
        });
    }



    //下载
    function downrediect(url)
    {
        /*var d = new Date().getTime();
        var saveName=d+"."+ url.replace(/(.*\.)/, '');//这里文件名我用了毫秒数加上后缀
        var $a = document.createElement('a');
        $a.setAttribute("href", url);
        $a.setAttribute("download", saveName);
        $a.setAttribute("target","_blank");//弹出窗体
        //模拟js事件
        var evObj = document.createEvent('MouseEvents');
        evObj.initMouseEvent( 'click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
        $a.dispatchEvent(evObj);*/
        // console.log(url.substring(url.lastIndexOf('/')+1,url.lastIndexOf('.')))
        var name=url.substring(url.lastIndexOf('/')+1,url.lastIndexOf('.'));
        download(1,url,name);

    }




</script>
<script>
    var name="${fn.getUser()}".replace(/\s*/g,"");
    var logis=name.length>360?"登录":"未登录";
    // console.log(logis)
    // var mm=name.substring(name.indexOf('{')).replace(/=/g,":");
    var user=name.substring(name.indexOf('{')+1,name.lastIndexOf('}')).split(',');
    if (logis=="登录"){
        $("#unameuser").html(user[5].split('=')[1].replace(/'/g,""));
        $(".photo").attr("src",user[12].split('=')[1].replace(/'/g,""));
        $(".uno").html("("+user[2].split('=')[1].replace(/'/g,"")+")");
        $("#userInput").val(name);
        $(".loginOutSystem").show();

    }

</script>
</html>
