<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.videomanage.video.mapper.BankVideoMapper">
    
	<sql id="bankVideoColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.state AS "state",
		a.video_name AS "videoName",
		a.video_size AS "videoSize",
		a.video_path AS "videoPath",
		a.video_type AS "videoType",
		a.uid AS "uid"
	</sql>
	
	<sql id="bankVideoJoins">
		
	</sql>
	
    
	<select id="get" resultType="BankVideo" >
		SELECT 
			<include refid="bankVideoColumns"/>
		FROM bank_video a
		<include refid="bankVideoJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BankVideo" >
		SELECT 
			<include refid="bankVideoColumns"/>
		FROM bank_video a
		<include refid="bankVideoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="videoName != null and videoName != ''">
				AND a.video_name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{videoName}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{videoName}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{videoName}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{videoName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BankVideo" >
		SELECT 
			<include refid="bankVideoColumns"/>
		FROM bank_video a
		<include refid="bankVideoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO bank_video(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			state,
			video_name,
			video_size,
			video_path,
			video_type,
			uid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{state},
			#{videoName},
			#{videoSize},
			#{videoPath},
			#{videoType},
			#{uid}
		)
	</insert>
	
	<update id="update">
		UPDATE bank_video SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			state = #{state},
			video_name = #{videoName},
			video_size = #{videoSize},
			video_path = #{videoPath},
			video_type = #{videoType},
			uid = #{uid}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM bank_video
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE bank_video SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BankVideo" statementType="STATEMENT">
		select * FROM bank_video  where ${propertyName} = '${value}'
	</select>
	
</mapper>