@charset "utf-8";
/* 字体文样式*/

.font_back_20 {
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
}
.font_back_16h {
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
	font-weight: bold;
}
.font_back_16h_ygxs {
	/*clear: both;*/
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
}
.font_back_18h {
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
	/*font-weight: bold;*//*去除加粗*/
}
.font_back_20h {
	font-size: 20px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
	/*font-weight: bold;*//*去除加粗*/
}
.font_back_24h {
	font-size: 24px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #000;
	font-weight: bold;
}
.font_back_14h {
	font-size: 14px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #222222;
}
.font_yellow_16h {
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #F5A83B;
	font-weight: bold;
}
.font_hui_14h {
	font-size: 14px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #767372;
	font-weight: bold;
}
.font_hui_01_14h {
	font-size: 14px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #D7D7D7;
}

.font_bai_16h {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}
.font_zise_18h {
	font-size: 18px;
	color: #672290;
	font-weight: bold;
}
.font_zise_14h {
	font-size: 14px;
	color: #9C78C3;
	font-weight: bold;
}
.font_zise_22h {
	font-size: 22px;
	color: #9C78C3;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.alist17hei:link {		/*默认状态*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.alist17hei:visited {	/*浏览过的*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.alist17hei:hover {	/*悬浮状态*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.alist17hei:active {	/*激活过的*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}


.adeptlist16:link {		/*默认状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.adeptlist16:visited {	/*浏览过的*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.adeptlist16:hover {	/*悬浮状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.adeptlist16:active {	/*激活过的*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}

.adeptlist14:link {		/*默认状态*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.adeptlist14:visited {	/*浏览过的*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.adeptlist14:hover {	/*悬浮状态*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.adeptlist14:active {	/*激活过的*/
	color: #212121;
	font-size: 18px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}



.abai16:link {		/*默认状态*/
	color: #ffffff;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
	font-weight:bold;
}
.abai16:visited {	/*浏览过的*/
	color: #ffffff;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	
}
.abai16:hover {	/*悬浮状态*/
	color: #ffffff;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.abai16:active {	/*激活过的*/
	color: #ffffff;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
/* 字体块样式*/
.box_zise {
	display: inline-block;
	background-color: #9C78C3;
	width: 137px;
	height: 38px;
	font-size: 14px;
	color: #ffffff;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
}
.box_huise {
	display: inline-block;
	background-color: #F4F4F4;
	width: 137px;
	height: 38px;
	font-size: 14px;
	color: #000000;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
	border: 1px solid #D8D8D8;
}
.box_zise2 {
	display: inline-block;
	background-color: #9C78C3;
	width: 50px;
	height: 28px;
	font-size: 14px;
	color: #ffffff;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	border-radius: 27px 0 0 27px;
	border: 1px solid #D8D8D8;
}
.box_zise3 {
	display: inline-block;
	background-color: #ffffff;
	width: 50px;
	height: 28px;
	font-size: 14px;
	color: #9C78C3;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	border-radius: 0 27px 27px 0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #D8D8D8;
	border-right-color: #D8D8D8;
	border-bottom-color: #D8D8D8;
	border-left-color: #D8D8D8;
}
.box_more {
	display: inline-block;
	background-color: #ffffff;
	width: 50px;
	height: 28px;
	font-size: 14px;
	color: #9C78C3;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #D8D8D8;
	margin-right: 10px;
}
.font_bai_50h {
	font-size: 50px;
	color: #ffffff;
	font-weight: bold;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.font_bai_24h {
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height: 30px;
}

.content_title{
	text-align:center;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
		font-size: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:60px;
	
	}
 .space20 {
    border-bottom: 2px solid #9C78C2;
    width: 1120px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}
.content_text{
	font-size:16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	color:#000;
	width: 1120px;
    padding-bottom: 50px;
	margin: 0 auto;
	}
.content_text p{
	margin:0px;
	
	}
	
/* 1.3修改 */
.linkmore:link {		/*默认状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.linkmore:visited {	/*浏览过的*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.linkmore:hover {	/*悬浮状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.linkmore:active {	/*激活过的*/
	color: #212121;
	font-size: 14px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}


.alist20hui:link{
		color: #5a5a5a;
	font-size: 20px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:bold;
	line-height:30px;
	text-decoration: none;
	
	}
.alist20hui:visited {	/*浏览过的*/
		color: #5a5a5a;
	font-size: 20px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:bold;
	line-height:30px;
	text-decoration: none;
}
.alist20hui:hover {	/*悬浮状态*/
		color: #5a5a5a;
	font-size: 20px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:bold;
	line-height:30px;
	text-decoration: none;
}
.alist20hui:active {	/*激活过的*/
		color: #5a5a5a;
	font-size: 20px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:bold;
	line-height:30px;
	text-decoration: none;
}

.alist14hei:link {		/*默认状态*/
	color: #666666;
	font-size: 15px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
	/*margin-left: 5px;*/
}
.alist14hei:visited {	/*浏览过的*/
	color: #666666;
	font-size: 15px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
	/*margin-left: 5px;*/
}
.alist14hei:hover {	/*悬浮状态*/
	color: #666666;
	font-size: 15px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
	/*margin-left: 5px;*/
}
.alist14hei:active {	/*激活过的*/
	color: #666666;
	font-size: 15px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
	/*margin-left: 5px;*/
}

.font_back_22h {
	font-size: 22px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	color: #212121;
	line-height:35px;
	font-weight: bold;
}

.font_zise_19h {
	font-size: 19px;
	color: #672290;
	font-weight: bold;
}

.font_zise_16h {
	font-size: 16px;
	color: #9C78C3;
	font-weight: bold;
}


.box_login {
	display: inline-block;
	background-color: #6b1685;
	width: 60px;
	font-size: 18px;
	line-height:28px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}

.alist16hei:link {		/*默认状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.alist16hei:visited {	/*浏览过的*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.alist16hei:hover {	/*悬浮状态*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}
.alist16hei:active {	/*激活过的*/
	color: #212121;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	text-decoration: none;
}

/* 新的首页样式 */
.text_nvabar{
	font-size:14px;
	color:#FFF;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	cursor: pointer;
	}
	
.text_nvabar_noselect{
	font-size:14px;
	color:#B5B8BD;
	cursor: pointer;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	}
.alist22hei:link{
	color: #000000;
	font-size: 25px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:28px;
	text-decoration: none;
	font-weight: bold;
	}
.alist22hei:visited {	/*浏览过的*/
	color: #000000;
	font-size: 25px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:28px;
	text-decoration: none;
	font-weight: bold;
}
.alist22hei:hover {	/*悬浮状态*/
	color: #000000;
	font-size: 25px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:28px;
	text-decoration: none;
	font-weight: bold;
}
.alist22hei:active {	/*激活过的*/
	color: #000000;
	font-size: 25px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:28px;
	text-decoration: none;
	font-weight: bold;
}
.timefont_62 {
	color: #ffffff;
	font-size: 62px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:60px;
	font-weight: bold;
}

.timefont_12 {
	color: #ffffff;
	font-size: 12px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:18px;
}

.text24_b_y{
		color: #E3A300;
	font-size: 30px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:900;
	
	}
	
.text24_b_b{
		color: #595757;
	font-size: 30px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	font-weight:900;
	}
/* 1.6 修改新增 */
.alist17hei:link{
	color: #000000;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
	
	}
.alist17hei:visited {	/*浏览过的*/
	color: #000000;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
}
.alist17hei:hover {	/*悬浮状态*/
	color: #000000;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
}
.alist17hei:active {	/*激活过的*/
	color: #000000;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
}


.alist16hui:link{
	color: #666666;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
	margin-left: 5px;
	}
.alist16hui:visited {	/*浏览过的*/
	color: #666666;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
	margin-left: 5px;
}
.alist16hui:hover {	/*悬浮状态*/
	color: #666666;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
	margin-left: 5px;
}
.alist16hui:active {	/*激活过的*/
	color: #666666;
	font-size: 19px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
	text-decoration: none;
	margin-left: 5px;
}
.font_bai_22h {
	font-size: 30px;
	color: #ffffff;
	font-weight: 900;
	text-indent: 5px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}

.font_back_20h {
	font-size: 20px;
	color: 3E3A39;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}

.font_hui_16h {
	color: #666666;
	font-size: 16px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
}


.font_hui_14h {
	color: #888888;
	font-size: 14px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
	line-height:30px;
}

.font_bai_18h {
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-indent: 5px;
	font-family: "思源黑体","MS Serif","New York","微软雅黑",serif;
}
.downjl{
	margin-bottom: 2%;
}

.uno{
	display:block
}